<th:block th:replace="~{/fragments/header.html}"></th:block>
<script th:src="@{/createFormDisplay.js}"></script>

<div class="d-flex justify-content-center align-items-center">
    <p class="display-3">Administration</p>
</div>
<div class="d-flex justify-content-center align-items-center text-danger" th:if="${param.status != null}">
    <p th:if="${param.status[0] == 'idNotValid'}">Provided ID is not valid!</p>
    <p th:if="${param.status[0] == 'alterSelfError'}">You can not alter yourself!</p>
    <p th:if="${param.status[0] == 'userRetrieveFail'}">Unable to retrieve user!</p>
</div>
<div class="d-flex justify-content-center align-items-center text-success" th:if="${param.status != null}">
    <p th:if="${param.status[0] == 'approved'}">User approved successfully!</p>
    <p th:if="${param.status[0] == 'revoked'}">User revoked successfully!</p>
    <p th:if="${param.status[0] == 'elevated'}">User rights elevated successfully!</p>
    <p th:if="${param.status[0] == 'degraded'}">User rights degraded successfully!</p>
    <p th:if="${param.status[0] == 'userDeleted' && deletedUsername != null}"
       th:text="'User ' + ${deletedUsername} + ' deleted successfully!'"></p>
</div>
<div class="d-flex justify-content-center align-items-center pt-5">
    <table class="table table-bordered table-hover w-75">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail</th>
            <th>Username</th>
            <th>Enabled</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.enabled ? 'Yes' : 'No'}"></td>
            <td th:text="${user.role}"></td>
            <td th:if="${#authentication.principal.username} == ${user.username}" class="bg bg-dark-subtle"></td>
            <td th:if="${#authentication.principal.username} != ${user.username}">
                <div class="d-flex flex-row">
                    <form class="me-3" method="POST"
                          th:action="${user.enabled} ? '/admin/revoke/' + ${user.username} : '/admin/approve/' + ${user.username}">
                        <input type="submit" th:value="${user.enabled} ? 'Revoke' : 'Approve'"
                               th:class="${user.enabled} ? 'btn btn-warning' : 'btn btn-success'">
                    </form>
                    <form class="me-5" method="POST" th:action="${user.role != T(com.github.martmatix.pproproject.custom_authorities.Role).ADMINISTRATOR} ?
                      '/admin/elevate/' + ${user.username} : '/admin/degrade/' + ${user.getUsername}">
                        <input type="submit" th:value="${user.role != T(com.github.martmatix.pproproject.custom_authorities.Role).ADMINISTRATOR}
                    ? 'Elevate' : 'Degrade'"
                               th:class="${user.role != T(com.github.martmatix.pproproject.custom_authorities.Role).ADMINISTRATOR}
                           ? 'btn btn-primary' : 'btn btn-secondary'">
                    </form>
                    <button type="submit"
                            class="btn btn-outline-danger deleteButton" id="deleteButton">Delete...?
                    </button>
                    <form style="display: none" id="deleteConfirmForm" class="ms-1 deleteConfirmForm" method="POST"
                          th:action="@{/admin/delete/{username}(username=${user.username})}">
                        <input type="submit" value="Yes" class="btn btn-danger">
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center align-items-center">
    <p class="display-3">Tickets</p>
</div>
<div class="d-flex justify-content-center align-items-center text-success" th:if="${param.status != null}">
    <p th:if="${param.status[0] == 'ticketCreated'}">Ticket created successfully!</p>
</div>
<div class="d-flex justify-content-center align-items-center text-danger" th:if="${param.status != null}">
    <p th:if="${param.status[0] == 'ticketNameEmpty'}">Ticket name can not be empty!</p>
    <p th:if="${param.status[0] == 'ticketDescriptionEmpty'}">Ticket description can not be empty!</p>
</div>
<div class="d-flex justify-content-center align-self-center mb-3 flex-column">
    <div class="d-flex justify-content-center align-self-center">
        <button id="btn-create" class="btn btn-primary">Create record</button>
    </div>
    <div style="display: none" id="div-create">
        <div class="d-flex justify-content-center align-self-center pt-3">
            <form class="d-flex flex-column justify-content-center align-self-center" method="POST"
                  th:action="@{/admin/createTicket}">
                <label for="ticketName">Ticket name:</label>
                <input type="text" name="name" id="ticketName" placeholder="TICKET-01" class="form-control" required>
                <label for="ticketDescription" class="pt-2">Ticket Description:</label>
                <textarea placeholder="Ticket for documentation update..." name="description" id="ticketDescription" class="form-control mb-2" rows="1" cols="50"
                          required></textarea>
                <input type="submit" value="Create ticket" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center pt-2">
    <table class="table table-bordered table-hover w-75">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Issuer</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recordType : ${recordTypes}">
            <td th:text="${recordType.id}"></td>
            <td th:text="${recordType.name}"></td>
            <td th:text="${recordType.description}"></td>
            <td th:text="${recordType.issuer}"></td>
            <td>
                <form>

                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let deleteButtons = document.querySelectorAll('.deleteButton');
        let deleteForms = document.querySelectorAll('.deleteConfirmForm');

        deleteButtons.forEach(function (button, index) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                if (deleteForms[index].style.display === 'block') {
                    deleteForms[index].style.display = 'none';
                } else {
                    deleteForms[index].style.display = 'block';
                }
            });
        });
    });
</script>

<th:block th:replace="~{/fragments/footer.html}"></th:block>