<th:block th:replace="~{/fragments/header.html}"></th:block>

<div class="d-flex justify-content-center align-items-center">
    <p class="display-3">Profile</p>
</div>
<div class="d-flex justify-content-center align-items-center text-danger" th:if="${param.status != null}">
    <p th:if="${param.status[0] == 'roleAltered'}">Role can not be changed!</p>
    <p th:if="${param.status[0] == 'usernameAltered'}">Username can not be changed!</p>
    <p th:if="${param.status[0] == 'passwordMatchError'}">Password is not correct!</p>
</div>
<div class="d-flex justify-content-center align-items-center text-success" th:if="${param.status != null}">
    <p th:if="${param.status[0] == 'updateSuccess'}">Information updated successfully!</p>
</div>
<div class="d-flex justify-content-evenly align-items-center pt-5">
    <div class="w-50">
        <form th:action="@{/profile/updatePersonal}" method="POST">
            <table class="table table-hover table-bordered">
                <tr>
                    <td class="text-center">Name</td>
                    <td>
                        <input type="text" class="form-control text-center" name="name" th:value="${user.getName()}">
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Surname</td>
                    <td>
                        <input type="text" class="form-control text-center" name="surname" th:value="${user.getSurname()}">
                    </td>
                </tr>
                <tr>
                    <td class="text-center">E-mail</td>
                    <td>
                        <input type="email" class="form-control text-center" name="email" th:value="${user.getEmail()}">
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Username</td>
                    <td>
                        <input type="text" class="form-control text-center text-secondary" name="username" th:value="${user.getUsername()}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Role</td>
                    <td>
                        <input type="text" class="form-control text-center text-secondary" name="role" th:value="${user.getRole()}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">Enter password</td>
                    <td>
                        <input type="password" class="form-control text-center" name="password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="w-25">
        asdfasdf
    </div>
</div>


<th:block th:replace="~{/fragments/footer.html}"></th:block>